STACKMGR_TOKEN=change-me-to-a-strong-random-secret
STACKMGR_BIND_HOST=0.0.0.0
STACKMGR_PUBLISH_HOST=127.0.0.1
STACKMGR_IMAGE=maleficmarauder/stackmanager:vX.Y.Z
STACKMGR_DOCKER_BIN=/usr/bin/docker
STACKMGR_DOCKER_HOST=unix:///var/run/docker.sock
